.App-logo {
    height: 40vmin;
    pointer-events: none;
  
    position: absolute;
    width: 434px;
    height: 395px;
    left: 892px;
    top: 196px;
  
    
    mix-blend-mode: multiply;
    }
  
  .Inss{
    position: absolute;
    width: 251px;
    height: 76px;
    left: 127px;
    top: 92px;
  
   
    }
  
    p{
      position: absolute;
      width: 608px;
      height: 67px;
      left: 110px;
      top: 266px;
  
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 49px;
  
      color: #005CB9;
    }
  
    h1{
      position: absolute;
      width: 608px;
      height: 67px;
      left: 110px;
      top: 326px;
      size: 74px;
  
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 78px;
  
      color: #005CB9;
    }
  
    .forma{
      position: absolute;
      left: 539px;
    }
  
    .formas{
      position: absolute;
     
      left: 900px;
      top: 350px;
  
    }
  
    .submit{
      position: absolute;
      width: 153px;
      height: 47px;
      left: 107px;
      top: 550px;
      border: white;
      background-color: white;
      border-radius: 30px;
      box-shadow: 2px 1px 10px gray;
      cursor: pointer;
     
    }
  
  .icon{
  position: absolute;
   width: 18%;
   left: 20px;
   top: 10px;
  }
  
  h4{
  position: absolute;
  font-family: 'Montserrat';
  color: #005CB9;
  font-size: 20px;
  font-weight: bold;
  top: -13px;
  right: 30px;
  }