@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root{
  --blue: #005CB9;
  --white: #fff;
  --dark: #1e1c2a;
} 

.body{
  overflow: hidden;
}
.container{
  width: 100%;
  min-height: 100vh;
}
nav{
  /* display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  z-index: 111; */


  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  width: 100%;
  height: 50px;
  transition: all 0.5s;
  position: fixed;
  z-index: 111; 



}
.img-logo{
  position: absolute;
width: 200px;
height: 75px;
left: 117px;
top: 92px;

  
}
.logo{
  display: flex;
  font-weight: 800;
  color: var(--blue);
  letter-spacing: 3px;
  cursor: pointer;
}
.wrapper{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;
  overflow: hidden;
}

.img-fundo{
  position:absolute;
  content: '';
  width: 100%;
  height: 100vh;
  left:0px;
  top: 0px;
}



.img-busca{
  width: 110%;
  z-index: 111;
  left: 25%;
}


.cols0{
  width: 50%;
  z-index: 5; 
  /* circula para baixo do texto */
}
.cols1{
  margin: 40px;
  /* circula para baixo do texto */
}
.topline{
  display: block;
  position: relative;
  font-size: 30px;
  color: var(--blue);
}
h1{
  display: block;
  font-size: 2.5em;
  font-weight: 800;
  color: var(--blue);
}
button{
  margin: 70px 10px;
  
  border: none;
  padding: 15px 45px;
  background: var(--white);
  color: var(--blue);
  border-radius: 24px;
  font-weight: 700;
 
  box-shadow: 0 0.1rem 0.5rem #ccc;
  font-size: 20px;
  cursor: pointer;
  top:493px;

}
button:hover{
  background-color: #E4EDFF
}


.imgbox{
  position: relative;
  width: 100%;
}
.imgbox img{
  position: relative;
  /* animation: animateUser 4s linear infinite; */
}

.texto{
  font-size: 54px;
  color:rgba(0, 92, 185, 1);
  font-family: 'Montserrat';
}
/* @keyframes animateUser {
  50%{
    right: 30px;
    top: -90px;
  }
} */


@media (max-width:785px) {

  .wrapper{
      padding: 120px 2%;
      flex-direction: column;
      text-align: center;
      overflow: hidden;
      gap: 2rem;
      overflow-y: scroll;
  }
  .topline{
      font-size: 20px;
  }
  h1{
      font-size: 2.3rem;
      line-height: 2.5rem;
  }
  .img-busca{
      width: 40%;
  }
  .cols0{
    margin: 5px;
  }
  .img-topo{
    position:absolute;
    content: '';
    /* height: 150px;
    width: 150px; */
    left:35%;
    top: 0px;
  }
  
  .img-final{
    position:absolute;
    content: '';
    /* height: 150px;
    width: 150px; */
    right: 0px;
    top: 41.5%;
  }
                             
}
